{{!< default}}
<!-- Intro -->
	<div class="container text-center">
		<br> <br>
		<h2 class="thin">Helghast Architectural Design Studio</h2>
		<p class="text-muted">
			We're a full service architectural design studio. We specialize in modern, residential and commerical projects, as well as smaller retreats such as cabins, lofts and custom dwellings.<br>
            Our solutions merge sustainable, environmentall forward thinking with exceptional design to give the unique space you're looking for.
		</p>
	</div>
	<!-- /Intro-->
		
	<!-- Highlights - jumbotron -->
	<div class="jumbotron top-space">
		<div class="container">
			<h3 class="text-center thin">Recent Work</h3>		
			<div class="row recent-work">
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4>Traditional Craftsman</h4></div>
                    <a href="/work"><img src="/images/project-1-home.jpg" alt="" id="home-proj"/></a>
					<div class="h-body text-center">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque aliquid adipisci aspernatur. Soluta quisquam dignissimos earum quasi voluptate. Amet, dignissimos, tenetur vitae dolor quam iusto assumenda hic reprehenderit?</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4>Modern Contemporary</h4></div>
                    <a href=""><img src="/images/project-2-home.jpg" alt="" id="home-proj"/></a>
					<div class="h-body text-center">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, commodi, sequi quis ad fugit omnis cumque a libero error nesciunt molestiae repellat quos perferendis numquam quibusdam rerum repellendus laboriosam reprehenderit! </p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4>Modern Commercial</h4></div>
                    <a href=""><img src="/images/project-3-home.jpg" alt="" id="home-proj"/></a>
					<div class="h-body text-center">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, vitae, perferendis, perspiciatis nobis voluptate quod illum soluta minima ipsam ratione quia numquam eveniet eum reprehenderit dolorem dicta nesciunt corporis?</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4>Rustic Northern Retreat</h4></div>
                    <a href=""><img src="/images/project-4-home.jpg" alt="" id="home-proj"/></a>
					<div class="h-body text-center">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, excepturi, maiores, dolorem quasi reprehenderit illo accusamus nulla minima repudiandae quas ducimus reiciendis odio sequi atque temporibus facere corporis eos expedita? </p>
					</div>
				</div>
			</div> <!-- /row  -->
		
		</div>
	</div>
	<!-- /Highlights -->

	<!-- container -->
	<div class="container">

		<h2 class="text-center top-space">Frequently Asked Questions</h2>
		<br>

		<div class="row">
			<div class="col-sm-6">
				<h3>How long does the design process take?</h3>
				<p>It always depends on the the scope and size of the project. Obviously larger projects take longer. We will work with you and your budget and find a suitable solution. We offer free consultations, so feel free to <a href="/contact">contact us</a> to set up an appointment.</p>
			</div>
			<div class="col-sm-6">
				<h3>What about Modular Architecture?</h3>
				<p>We can do Modular Architecture. It's something that is gaining in popularity and Helghast as been at the forefront of the modular architecture movement. We'll work closely with you and make sure if this is the proper approach for your project. You should take a lot at some of our <a href="#">modular projects</a> to see what we've done in the past for our clients.</p>
			</div>
		</div> <!-- /row -->

		<div class="row">
			<div class="col-sm-6">
				<h3>How much do you usually charge?</h3>
				<p>
					Helghasts typically employs two methods when billing clients. The first is the overall percentage of construction costs. This is typically in the 8-15% range. We use this method on larger commercial projects or larger, boutique style residential projects. Smaller projects we normally bill out on a square foot basis.
				</p>
			</div>
			<div class="col-sm-6">
				<h3>When are you available for appointments?</h3>
				<p>We're architects and we keep normal business hours. You can call or stop our offices and set something up. Remember, initial consultation is always free, so <a href="">contact us</a> today to set up your appointment.</p>
			</div>
		</div> <!-- /row -->

		<div class="jumbotron top-space">
			<h4>Dicta, nostrum nemo soluta sapiente sit dolor quae voluptas quidem doloribus recusandae facere magni ullam suscipit sunt atque rerum eaque iusto facilis esse nam veniam incidunt officia perspiciatis at voluptatibus. Libero, aliquid illum possimus numquam fuga.</h4>
     		<p class="text-right"><a class="btn btn-primary btn-large">Contact Us »</a></p>
  		</div>

</div>	<!-- /container -->
	
	<!-- Social links. @TODO: replace by link/instructions in template -->
	<section id="social">
		<div class="container">
			<div class="wrapper clearfix">
				<!-- AddThis Button BEGIN -->
				<div class="addthis_toolbox addthis_default_style">
				<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
				<a class="addthis_button_tweet"></a>
				<a class="addthis_button_linkedin_counter"></a>
				<a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
				</div>
				<!-- AddThis Button END -->
			</div>
		</div>
	</section>
	<!-- /social links -->

